@font-face {
    font-family: Didot;
    src: url(fonts/Didot/Didot.eot?) format("eot"), url(fonts/Didot/Didot.woff2) format("woff2"), url(fonts/Didot/Didot.woff) format("woff"), url(fonts/Didot/Didot.ttf) format("truetype"), url(fonts/Didot/Didot.svg) format("svg");
}

@font-face {
    font-family: LustScript;
    src: url(fonts/LustScript/LustScript.eot?) format("eot"), url(fonts/LustScript/LustScript.woff2) format("woff2"), url(fonts/LustScript/LustScript.woff) format("woff"), url(fonts/LustScript/LustScript.ttf) format("truetype"), url(fonts/LustScript/LustScript.svg) format("svg");
}

@font-face {
    font-family: NeuzeitS-Book;
    src: url(fonts/NeuzeitS-Book/NeuzeitS-Book.eot?) format("eot"), url(fonts/NeuzeitS-Book/NeuzeitS-Book.woff2) format("woff2"), url(fonts/NeuzeitS-Book/NeuzeitS-Book.woff) format("woff"), url(fonts/NeuzeitS-Book/NeuzeitS-Book.ttf) format("truetype"), url(fonts/NeuzeitS-Book/NeuzeitS-Book.svg) format("svg");
}

body {
	font-family: NeuzeitS-Book;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p {
  line-height: 1.7em;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  text-align: center;
}
.logo__text {
  font-family: LustScript;
  font-size: 4rem;
  position: relative;
  display: inline-block;
  margin: 4rem 0;
}
.logo__wing {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 2.1875em;
}
.logo__wing:nth-of-type(1) {
  left: -0.46875em;
  transform: translate(-100%, -50%);
}
.logo__wing:nth-of-type(2) {
  right: -0.46875em;
  transform: translate(100%, -50%)
}

.row {
  display: flex;
}
.row--gutter {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}
.row--gutter > [class*=col] {
  padding: 0 1.75rem;
}
.col-2-1 {
  flex-basis: 50%;
}

.service {
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.service:after {
  content: '';
  display: block;
  padding-top: 103.86%;
}
.service__title {
  font-family: Didot;
  color: #fff;
  font-size: 1.125rem;
  position: absolute;
  left: 14px;
  bottom: 15px;
  margin: 0;
}
.service__text {
  font-family: Didot;
  color: #fff;
  font-size: 1.5rem;
}
.service__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform .4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4FAAB9;
}
.service:hover > .service__overlay {
  transform: translateY(0);
}

@media (max-width: 1000px) {
  .logo__text {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .logo__text {
    width: 207px;
  }
}

@media (max-width: 480px) {
  .logo__text {
    font-size: 2rem;
    width: 138px;
  }
}